*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100 vh;
    background-color: hsl(225, 100%, 94%);
}
.contenido_tarjeta{
    width: 470px;
    height: 650px;
    margin:auto;
    transform: translateX(40px);
    padding:10px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(71, 7, 155);
}

.imagen_tarjeta{
    width: 500px;
    height: 400px;
}

.texto_medio h1{
margin-top: 10px;
font-weight: 500,700,900;
font-size: 25px;
color:hsl(223, 47%, 23%);
transform: translateX(100px) translateY(-140px);
} 

.texto_medio p{
    margin-top: 10px;
    color:hsl(224, 23%, 55%);
    text-align: center;
    font-size: 18px;
    transform: translateY(-120px);
    
}
.texto_medio_bajo img{
    transform: translateX(50px) translateY(-90px);
    
}
.texto_medio_bajo h1{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color:hsl(223, 45%, 23%);
    transform: translateY(-150px) translateX(-70px);
}
.precio_año{
    transform: translateX(110px) translateY(-130px);
    color: hsl(224, 23%, 55%);
}
.cambio{
    color:hsl(224, 23%, 55%);
    transform: translateY(-170px) translateX(300px);
}
.parrafo1{
    transform: translateY(-120px) translateX(80px);
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 10px 10px 20px;
    background-color: hsl(224, 23%, 55%);
    color:hsl(225, 100%, 94%);
    font-size: 18px;
}
.parrafo2{
    font-size: 18px;
    transform: translateX(80px) translateY(-110px);
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: hsl(225, 100%, 94%);
    color:hsl(223, 47%, 23%);
}